################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.db
*.idb
*.intermediate.manifest
*.lastbuildstate
*.opendb
*.res
*.tlog
moc_*.cpp
