################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
moc_*.cpp
mTrollQt/Debug/*
mTrollQt/Release/*
build/*
.DS_Store
